android/.git
android/.idea
android/build
android/.gradle
android/countly-sdk-react-native-bridge.iml
ios/.git
node_modules
.DS_Store
yarn.lock
.idea
.orig
ios/Pods
ios/countly-sdk-react-native-bridge.xcworkspace
ios/Podfile.lock
ios/countly-sdk-react-native-bridge.xcworkspace/* 